header{
    background-color: black;

}
.logo img{
    width: 30%;
    height: 30%;
}
.navegacao{
    overflow: hidden;
}
.navegacao a{
    float: left;
    display: block;
    color: red;
    text-decoration: none;
    text-align: left;
    padding: 10px 10px;  
}
.navegacao a:hover{ 
    color:crimson;
    background-color: black;
}